<a href="https://colab.research.google.com/github/dariRusAG/Modern-programming-languages/blob/main/%D0%9B%D0%B0%D0%B1%D0%BE%D1%80%D0%B0%D1%82%D0%BE%D1%80%D0%BD%D0%B0%D1%8F_1_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Лабораторная работа 1

1. Удалить столбцы с некорректными данными
2. Переименовать столбцы:
- `Остаток` переименовать в `ВсегоТовара`
- `Количество` переименовать в `НаВитрине`
3. Сгруппировать товары по `КодКатегории` и найти среднюю цену
4. Добавить столбец с разницей между значением столбца `Цена` и полученной средней ценой

## Выполнил студент

Агапова Дарья Руслановна

Б9119-09.03.04прогин(1)

## Библиотеки

In [ ]:
import pandas as pd
from google.colab import drive

## Подключение выборки данных

In [ ]:
drive.mount('/content/drive')
data = pd.read_csv('/content/drive/MyDrive/СЯП/Выборка_1.csv', sep=",")
data

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,КодКатегории,ЧастотаПродаж,Цена,ДлинаЕд,ДлинаЕд.1,ШиринаЕд,ШиринаЕд.1,ВысотаЕд,ВысотаЕд.1,Остаток,ВсегоТовара,Количество,НаВитрине,Транзит,Транзит.1,НаСкладе
0,GF18208,3.943094e-03,46999.0,0.530,0,0.060,0,0.330,0,NaN,0,NaN,0,NaN,0,0.0
1,MA76008,1.071400e-06,2099.0,0.135,0,0.025,0,0.210,0,NaN,0,NaN,0,NaN,0,0.0
2,GF18250,1.266442e-02,NaN,0.000,0,0.000,0,0.000,0,NaN,0,NaN,0,NaN,0,0.0
3,GF18375,2.557700e-02,699.0,0.120,0,0.080,0,0.040,0,1.0,0,1.0,0,0.0,0,0.0
4,GF18435,1.038716e-06,27199.0,0.425,0,0.310,0,0.145,0,NaN,0,NaN,0,NaN,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,GF26721,4.510958e-03,299.0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,0.0
1996,GF26721,9.724581e-07,1299.0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,0.0
1997,GF27381,1.344834e-02,4199.0,0.000,0,0.000,0,0.000,0,NaN,0,NaN,0,NaN,0,0.0
1998,MA00327,2.194074e-02,1799.0,0.260,0,0.140,0,0.250,0,2.0,0,1.0,0,0.0,0,1.0
1999,MA09650,6.346021e-03,8999.0,0.520,0,0.540,0,0.560,0,NaN,0,NaN,0,NaN,0,0.0

## Выполнение заданий

In [ ]:
data_del = data.drop(['ДлинаЕд.1','ШиринаЕд.1','ВысотаЕд.1','ВсегоТовара','НаВитрине','Транзит.1'], axis=1)
data_del

,КодКатегории,ЧастотаПродаж,Цена,ДлинаЕд,ШиринаЕд,ВысотаЕд,Остаток,Количество,Транзит,НаСкладе
0,GF18208,3.943094e-03,46999.0,0.530,0.060,0.330,NaN,NaN,NaN,0.0
1,MA76008,1.071400e-06,2099.0,0.135,0.025,0.210,NaN,NaN,NaN,0.0
2,GF18250,1.266442e-02,NaN,0.000,0.000,0.000,NaN,NaN,NaN,0.0
3,GF18375,2.557700e-02,699.0,0.120,0.080,0.040,1.0,1.0,0.0,0.0
4,GF18435,1.038716e-06,27199.0,0.425,0.310,0.145,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...
1995,GF26721,4.510958e-03,299.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1996,GF26721,9.724581e-07,1299.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1997,GF27381,1.344834e-02,4199.0,0.000,0.000,0.000,NaN,NaN,NaN,0.0
1998,MA00327,2.194074e-02,1799.0,0.260,0.140,0.250,2.0,1.0,0.0,1.0
1999,MA09650,6.346021e-03,8999.0,0.520,0.540,0.560,NaN,NaN,NaN,0.0

In [ ]:
data_rename = data_del.rename(columns={"Остаток": "ВсегоТовара", "Количество": "НаВитрине"})
data_rename

,КодКатегории,ЧастотаПродаж,Цена,ДлинаЕд,ШиринаЕд,ВысотаЕд,ВсегоТовара,НаВитрине,Транзит,НаСкладе
0,GF18208,3.943094e-03,46999.0,0.530,0.060,0.330,NaN,NaN,NaN,0.0
1,MA76008,1.071400e-06,2099.0,0.135,0.025,0.210,NaN,NaN,NaN,0.0
2,GF18250,1.266442e-02,NaN,0.000,0.000,0.000,NaN,NaN,NaN,0.0
3,GF18375,2.557700e-02,699.0,0.120,0.080,0.040,1.0,1.0,0.0,0.0
4,GF18435,1.038716e-06,27199.0,0.425,0.310,0.145,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...
1995,GF26721,4.510958e-03,299.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1996,GF26721,9.724581e-07,1299.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1997,GF27381,1.344834e-02,4199.0,0.000,0.000,0.000,NaN,NaN,NaN,0.0
1998,MA00327,2.194074e-02,1799.0,0.260,0.140,0.250,2.0,1.0,0.0,1.0
1999,MA09650,6.346021e-03,8999.0,0.520,0.540,0.560,NaN,NaN,NaN,0.0

In [ ]:
data_rename.groupby("КодКатегории").mean()['Цена'].reset_index()

    КодКатегории         Цена
0        EY10317   606.333333
1        EY11578  1242.888889
2        EY23865   806.818182
3        EY23975  2899.000000
4        EY37862  9082.666667
..           ...          ...
270      MA76021  2461.583333
271      MA81985   330.000000
272      MA85180  3017.875000
273      MA86011  3974.000000
274      MA86042  5199.000000

[275 rows x 2 columns]

In [ ]:
data_dropna = data_rename.fillna(0)
data_dropna

,КодКатегории,ЧастотаПродаж,Цена,ДлинаЕд,ШиринаЕд,ВысотаЕд,ВсегоТовара,НаВитрине,Транзит,НаСкладе
0,GF18208,3.943094e-03,46999.0,0.530,0.060,0.330,0.0,0.0,0.0,0.0
1,MA76008,1.071400e-06,2099.0,0.135,0.025,0.210,0.0,0.0,0.0,0.0
2,GF18250,1.266442e-02,0.0,0.000,0.000,0.000,0.0,0.0,0.0,0.0
3,GF18375,2.557700e-02,699.0,0.120,0.080,0.040,1.0,1.0,0.0,0.0
4,GF18435,1.038716e-06,27199.0,0.425,0.310,0.145,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
1995,GF26721,4.510958e-03,299.0,0.000,0.000,0.000,0.0,0.0,0.0,0.0
1996,GF26721,9.724581e-07,1299.0,0.000,0.000,0.000,0.0,0.0,0.0,0.0
1997,GF27381,1.344834e-02,4199.0,0.000,0.000,0.000,0.0,0.0,0.0,0.0
1998,MA00327,2.194074e-02,1799.0,0.260,0.140,0.250,2.0,1.0,0.0,1.0
1999,MA09650,6.346021e-03,8999.0,0.520,0.540,0.560,0.0,0.0,0.0,0.0

In [ ]:
data_dropna["РазницаЦены"] = data_dropna['Цена'] - data_dropna.groupby(["КодКатегории"])['Цена'].transform('mean')
data_dropna

,КодКатегории,ЧастотаПродаж,Цена,ДлинаЕд,ШиринаЕд,ВысотаЕд,ВсегоТовара,НаВитрине,Транзит,НаСкладе,РазницаЦены
0,GF18208,3.943094e-03,46999.0,0.530,0.060,0.330,0.0,0.0,0.0,0.0,-11555.066667
1,MA76008,1.071400e-06,2099.0,0.135,0.025,0.210,0.0,0.0,0.0,0.0,674.750000
2,GF18250,1.266442e-02,0.0,0.000,0.000,0.000,0.0,0.0,0.0,0.0,-27559.025000
3,GF18375,2.557700e-02,699.0,0.120,0.080,0.040,1.0,1.0,0.0,0.0,237.620690
4,GF18435,1.038716e-06,27199.0,0.425,0.310,0.145,0.0,0.0,0.0,0.0,17289.800000
...,...,...,...,...,...,...,...,...,...,...,...
1995,GF26721,4.510958e-03,299.0,0.000,0.000,0.000,0.0,0.0,0.0,0.0,-622.222222
1996,GF26721,9.724581e-07,1299.0,0.000,0.000,0.000,0.0,0.0,0.0,0.0,377.777778
1997,GF27381,1.344834e-02,4199.0,0.000,0.000,0.000,0.0,0.0,0.0,0.0,-1778.571429
1998,MA00327,2.194074e-02,1799.0,0.260,0.140,0.250,2.0,1.0,0.0,1.0,74.461538
1999,MA09650,6.346021e-03,8999.0,0.520,0.540,0.560,0.0,0.0,0.0,0.0,-2440.000000